<!doctype html>
<html>
  <head>
    <title>Jetpack: Interface Builder for Bootstrap</title>
    <link rel='stylesheet' href='/assets/application.css'/>
    <script type='text/javascript' src='/assets/application.js'></script>
  </head>
  <body>
    <div id='toolbar'></div>
    <div id='canvas' class='container'></div>
  </body>
</html>