<div class="modal" id="button_modal">
  <form class='form-horizontal'>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add Button</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="button_color">Color:</label>
      <div class="controls">
        <select id='button_color' name='color'>
          <option value=''>Default</option>
          <option value=' btn-primary'>Primary</option>
          <option value=' btn-info'>Info</option>
          <option value=' btn-success'>Success</option>
          <option value=' btn-warning'>Warning</option>
          <option value=' btn-danger'>Danger</option>
          <option value=' btn-inverse'>Inverse</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="button_size">Size:</label>
      <div class="controls">
        <select id='button_size' name='size'>
          <option value=''>Default</option>
          <option value=' btn-large'>Large</option>
          <option value=' btn-small'>Small</option>
          <option value=' btn-tiny'>Tiny</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="button_text">Text:</label>
      <div class="controls">
        <input type='text' id='button_text' name='text'/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <button type='submit' class="btn btn-primary">Add to Page</button>
  </div>
  </form>
</div>